
.home{
  text-align: center;
}


.randomCards{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 50%

}

.homediv{
display: flexbox;
flex:auto;
padding: 20px 0px;
}

.image{
  height: 210px;
  
}

img{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;

}

#homeContent{
  height:160px;
}

.singleCard{
 display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 50%  
}

.cardHeader{
  margin: 0 auto;
  text-align: center;
  height: 400px;
  background-size:cover;
  background-position: center;
  max-width: 75%;
  max-height: 50%;
  overflow: hidden;
  position: relative;
  
}

.headerBackground{
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  object-fit: fill;
}

.headerText{
  font-size: 100px;
  position: relative;
}

#cardName {
  font-size: 70px;
}

.cardContent{
  text-align: center;
  padding: 10px;
}

Search{
  align-items: center;
}

#nav{
  margin-bottom: 0;
}

#searchbar{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 50%
}

.login{
  text-align: left;
  width: 30%;
  margin: auto;
 

}