
.home{
  text-align: center;
}

.header{
    font-family: 'Akaya Telivigala', cursive;
}

.randomCards{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 50%

}

.navbar{
  padding-right: 30px;
}

#myaccount{
  left:82%;
  white-space: nowrap;
  position: fixed;
}

#search{
    left: 91%;
  white-space: nowrap;
  position: fixed;

}




#homebanner{
  background-color: gold;
  padding-top: 100px;
  text-align: center;
}

.homediv{
display: flexbox;
flex:auto;
padding: 20px 0px;
}

.image{
  height: 210px;
  
}

img{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  height: 400px;
  width: 400px;

}

.font, #font{
font-family: 'Josefin Sans', sans-serif;

}

#homeContent{
  height:160px;
font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;

}

#tags{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;

}

.cards{
  text-align: center;
  background-color: gold;
  
}

.singleCard{
 display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 50%  
}

.ingredients{
  margin:auto;
 width: 30%;
 text-align: left;
}

.cardHeader{
margin:auto;
 display: flex;
 width: 80%;
}



#resize {
    width: 550px;
    height: auto;
left: 200px;
}


.headerBackground{
  object-fit: contain;
  padding: 0;
  flex:70%;
  

}

#font2{
font-family: 'Josefin Sans', sans-serif;
}

.headerText{
flex:50%;
text-align: left;
vertical-align: middle;

}

#cardName {
  font-size: 70px;
}

.cardContent{
  text-align: center;
  padding: 10px;
}

Search{
  align-items: center;
}

#nav{
  margin-bottom: 0;
}

#searchbar{
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  width: 50%;
  margin-top:100px;

}

.login{
  text-align: left;
  width: 30%;
  margin: auto;
 

}


.comments{
margin: auto;
padding: 20px 0 50px 420px;
background-color: gold;
}


.titles{
font-family: 'Josefin Sans', sans-serif;
  font-size: 42px;
}

#newrecipe{
  width: 80%;
  margin: auto;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;

}

.myaccount{
display: flex;
}

#accountchild{
  flex:20%
}